.home{
    color: white;
    background-image: url(https://i.ibb.co/0n2rMpt/imageedit-1-6604348124.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    padding-top: 80px;
}
